<template>
  <div
    :class="{container: true, poke: pokeClass}"
    @animationend="restartAnimation"
  >
    <UsersList class="userInfoPanel" />
    <div class="messagesPanel">
      <MessagesList />
      <MessageBox @messageSent="onMessageSent" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.container {
  display: flex;
  width: 100%;
  background-color: #e9e9e9;
}
.userInfoPanel {
  width: 404px;
  margin: 0 50px;
  position: sticky;
  top: 0;
  height: 100vh;
}
.messagesPanel {
  width: 100%;
}

.poke {
  animation: poke 0.5s 1 linear;
}

@keyframes poke {
  0% {
    transform: translateX(0, 0, 0);
  }
  50% {
    transform: translate3d(-25%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
</style>

<script>
import UsersList from "../components/UsersList.vue";
import MessagesList from "../components/MessagesList.vue";
import MessageBox from "../components/MessageBox.vue";
export default {
  data() {
    return { pokeClass: false };
  },
  components: {
    UsersList,
    MessagesList,
    MessageBox
  },
  methods: {
    onMessageSent(content) {
      if (content.trim().length >= 1) {
        this.$store.dispatch("sendMessage", content);
      }
    },
    restartAnimation() {
      this.pokeClass = false;
      if (this.poke >= 1) {
        setTimeout(() => (this.pokeClass = true), 0);
        this.$store.commit("depoke");
      }
    }
  },
  computed: {
    poke() {
      return this.$store.state.poke;
    }
  },
  watch: {
    poke() {
      this.restartAnimation();
      // let interval = setInterval(() => {
      //   if (this.poke >= 1) {
      //     this.$store.commit("depoke");
      //   } else {
      //     clearInterval(interval);
      //   }
      // }, 1000);
    }
  }
};
</script>