<template>
  <div class="container">
    <form
      @submit.prevent='onSubmit'
      class="loginForm"
    >
      <img
        src="/logo.svg"
        class="logo"
      />
      <p class="label">Username: </p>
      <input
        type="text"
        v-model="username"
        placeholder="Username"
        class="input"
      >
      <p class="label">Choose your avatar: </p>
      <div class="avatarContainer">
        <img
          class="avatarIcon"
          :src="generateImageLink('like')"
          v-on:click="select('like')"
        >
        <img
          class="avatarIcon"
          :src="generateImageLink('yo')"
          v-on:click="select('yo')"
        >
        <img
          class="avatarIcon"
          :src="generateImageLink('clic')"
          v-on:click="select('clic')"
        >
        <img
          class="avatarIcon"
          :src="generateImageLink('fuck')"
          v-on:click="select('fuck')"
        >
        <img
          class="avatarIcon"
          :src="generateImageLink('add')"
          v-on:click="select('add')"
        >
      </div>
      <div class="flexContainer">
        <button
          type="submit"
          class="loginButton"
        ><span>Login</span></button></div>
    </form>
  </div>
</template>

<style lang="scss" scoped>
.logo {
  width: 437px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: block;
}
.container {
  background-color: #e9e9e9;
  width: 100%;
  height: 100vh;
  position: relative;
}
.label {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.loginForm {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  .avatarContainer {
    display: flex;
    justify-content: space-between;

    .avatarIcon {
      height: 110px;
      width: 110px;
      cursor: pointer;
    }
  }
  .flexContainer {
    display: flex;
    justify-content: flex-end;
    .loginButton {
      padding: 9px 25px;
      font-size: 20px;
      font-weight: 500;
      font-family: "IBM Plex Mono", Courier, monospace;
      background-color: #ffffff;
      width: 200px;
      text-align: left;
      border: solid 2px black;
      box-shadow: 5px 5px 0px 0px black;
      cursor: pointer;
      margin-top: 40px;
      position: relative;

      &::after {
        content: "▶";
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
      }
    }
  }
}
.input {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  padding: 19px 25px;
  font-size: 21px;
  line-height: 1.67;
  box-shadow: -5px 6px 0px 0px rgba(0, 0, 0, 1);
  border: solid 2px black;
  width: 600px;

  &::placeholder {
    color: #dcdcdc;
  }
}
</style>

<script>
export default {
  data() {
    return {
      username: "",
      avatar: "https://vue-chat.arnodubo.is/avatars/like.svg",
      selected: "like"
    };
  },
  methods: {
    onSubmit() {
      const user = {
        username: this.username,
        avatar: this.avatar
      };
      if (user.username.length >= 1) {
        this.$store.dispatch("initiateLogin", user);
      }
    },
    generateImageLink(img) {
      return `/avatars/${img}${img === this.selected ? "" : "_unselected"}.svg`;
    },
    mounted() {
      select("like");
    },
    select(avatar) {
      let image = "";
      switch (avatar) {
        case "clic":
          image = "https://vue-chat.arnodubo.is/avatars/clic.svg";
          break;
        case "yo":
          image = "https://vue-chat.arnodubo.is/avatars/yo.svg";
          break;
        case "like":
          image = "https://vue-chat.arnodubo.is/avatars/like.svg";
          break;
        case "fuck":
          image = "https://vue-chat.arnodubo.is/avatars/fuck.svg";
          break;
        case "add":
          image = prompt("Enter your image's URL: ");
          if (!image) {
            return;
          }
          break;
      }
      this.selected = avatar;
      this.avatar = image;
    }
  }
};
</script>

<style>
</style>