<template>
  <div>
    <transition-group
      class="messageList noList"
      name="list"
      tag="ul"
    >
      <MessagesListMessage
        v-for="message in messages"
        :key="message.created"
        :message="message"
      ></MessagesListMessage>
    </transition-group>
    <ul
      v-for="typer in typers"
      :key="typer.username"
      class="noList typingList"
    >
      <UserTyping :typer="typer" />
    </ul>
  </div>
</template>

<style lang="scss" scoped>
.noList {
  list-style: none;
}
.typingList {
  text-align: left;
}
.list-move {
  transition: 3s;
}
.list-enter-active {
  transition: transform 0.3s, opacity 0.3s !important;
}
.list-enter,
.list-leave-to {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}
.list-enter-to {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.messageList {
  margin-right: 50px;
}
</style>

<script>
import MessagesListMessage from "./MessagesListMessage.vue";
import UserTyping from "./UserTyping.vue";
export default {
  computed: {
    usersCount() {
      return this.$store.state.users.length;
    },
    currentUser() {
      return this.$store.state.user.username;
    },
    messages() {
      return this.$store.state.messages;
    },
    typers() {
      return this.$store.getters.typers;
    }
  },
  methods: {
    scrollHtml(force) {
      const scrollToBottom = (el, force) => {
        if (force || el.scrollHeight - 2500 <= el.scrollTop) {
          el.scrollTop = el.scrollHeight;
        }
      };
      setTimeout(
        () => scrollToBottom(document.querySelector("html"), force),
        0
      );
    }
  },
  mounted() {
    this.scrollHtml(true);
  },
  watch: {
    messages() {
      this.scrollHtml(false);
    }
  },
  components: {
    MessagesListMessage,
    UserTyping
  }
};
</script>