<template>
  <div class="formContainer">
    <form
      @submit.prevent="onFormSubmit"
      ref="form"
      class="form"
    >
      <textarea
        placeholder="Tape ton message ici"
        v-model="message"
        v-on:keypress="onType"
        class="input"
      ></textarea>
      <div class="buttons">
        <input
          type="submit"
          value="Send text"
        />
        <button v-on:click="clearText">Clear text</button>
      </div>
    </form>
  </div>
</template>

<style lang="scss" scoped>
.input {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  resize: none;
  height: 80px;
  width: 100%;
  border: solid 2px #000000;
  background-color: #ffffff;
  flex: 1;
  margin-right: 25px;
  padding: 7px 17px;
  &::placeholder {
    color: #dcdcdc;
  }
  &:focus {
    outline: none;
  }
}
.formContainer {
  padding-left: 40px;
  padding-right: 50px;
  margin-top: 60px;

  position: sticky;
  bottom: 1.5rem;
  z-index: 100;

  .form {
    display: flex;
    width: 100%;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  * {
    height: 35px;
    border: solid 2px #000000;
    background-color: #d1d1d1;
    font-family: "IBM Plex Mono", Courier, monospace;
    padding: 0px 32px;
    box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.14);

    &:hover {
      cursor: pointer;
    }
    &:active {
      outline: none;
      background-color: #9a9a9a;
    }
  }
}
</style>

<script>
export default {
  data() {
    return {
      message: ""
    };
  },
  methods: {
    onType(e) {
      if (e.code === "Enter") {
        e.preventDefault();
        this.onFormSubmit();
        return;
      }
      let bool;
      if (this.message !== "") {
        bool = true;
      } else {
        bool = false;
      }
      this.$store.dispatch("type", bool);
    },
    onFormSubmit(e) {
      this.$emit("messageSent", this.message);
      this.message = "";
    },
    clearText(e) {
      e.preventDefault();
      this.message = "";
    }
  }
};
</script>