<template>
  <li :class="{'is-owner': isOwner, 'alignBox': true}">
    <div :class="{ 'message': true }">
      <img
        :src="avatar"
        class="avatar"
        v-if="!isOwner"
        @error="fixAvatar"
      >
      <div class="messageContainer">
        <p
          class="messageAuthor"
          v-if="!isOwner"
        >{{message.user.username}}</p>
        <div class="messageWrapper">
          <span class="messageDots">{{message.text}}
            <div
              v-if="getContent"
              v-html="getContent"
              class="addon"
            ></div>
          </span>
          <time
            class="hour"
            :datetime="message.created"
          >{{formattedTime}}</time>
        </div>
      </div>
      <img
        :src="message.user.avatar"
        class="avatar"
        v-if="isOwner"
      >
      <div
        class="actionBar"
        v-if="!isOwner"
      >
        <img
          src="/poke.svg"
          @click="poke(message.user)"
        >
      </div>
    </div>
  </li>
</template>

<style lang="scss">
.alignBox {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  .message {
    margin-right: 4em;
    word-break: break-word;
    text-align: left;
    display: flex;
    position: relative;

    transition: transform 0.3s;
    &:hover {
      transform: scale3d(1.05, 1.05, 1.05);

      .actionBar {
        transform: translateX(100%);
      }
    }
    .avatar {
      width: 50px;
      height: 50px;
      object-fit: cover;
      margin-top: calc(1em + 24px);
      margin-right: 10px;
    }
    .actionBar {
      z-index: 10;
      padding: 10px;
      position: absolute;
      top: 50%;
      right: 0;
      transition: transform 0.3s, opacity 0.2s;
      transform: translateX(0%);
      img {
        width: 26px;
        height: 20px;
        cursor: pointer;
      }
    }
    .messageContainer {
      min-width: 300px;
      position: relative;
      z-index: 20;
      .messageAuthor {
        margin-bottom: 4px;
        font-size: 13px;
        color: #6d6d6d;
      }
      .messageWrapper {
        background-color: white;
        box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
        border: solid 2px black;
        padding: 7px 9px;
        font-size: 15px;
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        position: relative;
        .messageDots {
          display: block;
          border: 1px dashed;
          padding: 6px;
          padding-bottom: 18px;
          word-break: break-word;
        }
        .hour {
          font-family: "IBM Plex Mono", Courier, monospace;
          font-weight: 300;
          color: #4c4c4c;
          font-size: 14px;
          position: absolute;
          left: calc(100% - -20px);
          width: 90px;
        }
      }
    }
  }
}
.addon > .iframe {
  width: 100%;
  height: 250px;
  margin-top: 1em;
  border: solid 2px black;
}

.is-owner {
  justify-content: flex-end;
  .message {
    text-align: right;
    margin-right: 0;
    .avatar {
      margin-left: 10px;
      margin-right: 0;
      margin-top: calc(1em + 30px);
    }
    .messageContainer {
      .messageWrapper {
        margin-top: 3em;
        background-color: #0051a4;
        color: white;
        margin-left: 30px;
        .hour {
          position: absolute;
          left: -100px;
        }
      }
    }
  }
}

.list-move {
  .actionBar {
    display: none;
  }
}
</style>

<script>
import moment from "moment";
import fileType from "file-type";
export default {
  props: {
    message: {
      type: Object,
      required: true
    }
  },
  computed: {
    formattedTime() {
      return moment(this.message.created)
        .locale("fr")
        .format("hh:mm a");
      // return this.message.formattedTime;
    },
    isOwner() {
      return this.message.user.username === this.$store.state.user.username;
    },
    avatar() {
      return this.message.user.avatar
        ? this.message.user.avatar
        : "/avatars/like.svg";
    },
    getContent() {
      let youtube = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/gim;
      const matchedYouTube = this.message.text.match(youtube);
      let url = /(?:(?:https?|ftp):\/\/|\b(?:[a-z\d]+\.))(?:(?:[^\s()<>]+|\((?:[^\s()<>]+|(?:\([^\s()<>]+\)))?\))+(?:\((?:[^\s()<>]+|(?:\(?:[^\s()<>]+\)))?\)|[^\s`!()\[\]{};:'".,<>?«»“”‘’]))?/gi;
      const matchedUrl = this.message.text.match(url);
      if (matchedYouTube) {
        return `<iframe src=https://www.youtube-nocookie.com/embed/${
          matchedYouTube[7]
        } allowfullscreen class="iframe"></iframe>`;
      } else {
        // if (matchedUrl && matchedUrl.length >= 1) {
        //   fetch(matchedUrl[0]).then(response => {
        //     console.dir(response);
        //     console.dir(fileType(response.body.getReader()));
        //   });
        // }
      }
    }
  },
  methods: {
    fixAvatar() {
      const ICONS = [
        "/avatars/clic.svg",
        "/avatars/yo.svg",
        "/avatars/fuck.svg",
        "/avatars/like.svg"
      ];
      // if (
      //   this.$store.state.users.some(
      //     elm => elm.username === this.message.user.username
      //   )
      // ) {
      //   this.$store.state.users.find(
      //     elm => elm.username === this.message.user.username
      //   ).avatar = ICONS[Math.floor(Math.random() * ICONS.length + 1)];
      // }
      this.message.user.avatar = ICONS[0];
      // this.$store.commit('fixAvatar', {user: message.user, avatar})
    },
    poke(user) {
      this.$store.dispatch("poke", user.username);
    }
  }
};
</script>
