<template>
  <li>
    <img
      :src="avatar"
      @error='fixAvatar'
    />
    <span class="loadingAnim anim-1">•</span>
    <span class="loadingAnim anim-2">•</span>
    <span class="loadingAnim anim-3">•</span>
  </li>
</template>

<style lang="scss" scoped>
.loadingAnim {
  animation: upanddown 1s ease-in-out infinite alternate;
  display: inline-block;
  width: 6px;
  height: 6px;
  color: black;
  margin-left: 3px;
}
.anim-1 {
  animation-delay: 0s;
  animation-duration: 1s;
}
.anim-2 {
  animation-delay: 0.2s;
  animation-duration: 1s;
}
.anim-3 {
  animation-delay: 0.4s;
  animation-duration: 1s;
}
@keyframes upanddown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}
</style>

<script>
export default {
  props: {
    typer: {
      type: Object,
      required: true
    }
  },
  computed: {
    avatar() {
      return this.typer.avatar ? this.typer.avatar : "/avatars/like.svg";
    }
  },
  methods: {
    fixAvatar() {
      this.typer.avatar = "/avatars/like.svg";
    }
  }
};
</script>