<template>
  <div>
    <div>
      <section class="userContainer">
        <span class="userDataWrapper">
          <img :src="user.avatar">
          <h2>{{user.username}}</h2>
        </span>
      </section>
    </div>
    <div class="chattersContainer">
      <h2 class="header">Chatters</h2>
      <ul class="list">
        <li
          v-for="(user, i) in users"
          :key="i"
          class="userElement"
        ><span class="userWrapper vertical-align">{{user.username}}</span></li>
      </ul>
    </div>
    <button
      class="disconnect"
      v-on:click="logout"
    >Disconnect</button>
  </div>
</template>

<style lang="scss" scoped>
.vertical-align {
  vertical-align: text-top;
}
.disconnect {
  border: solid 2px #000000;
  background-color: #d0d0d0;
  width: 100%;
  height: 35px;
  font-family: "IBM Plex Mono", Courier, monospace;
  cursor: pointer;
  margin-top: 3.5em;
  box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.14);

  &:focus {
    outline: none;
  }
  &:active {
    background-color: #9a9a9a;
  }
}
.userContainer {
  width: 100%;
  min-height: 94px;
  border: solid 2px black;
  background-color: white;
  box-shadow: 5px 5px 0px 0px black;
  margin-top: 3em;
  margin-bottom: 2em;
  padding: 20px 35px 20px 31px;
  .userDataWrapper {
    h2 {
      display: inline-block;
      font-weight: 500;
      margin: 0;
      margin-left: 22px;
      vertical-align: top;
    }
    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
  }
}
.chattersContainer {
  height: calc(100% - 250px - 5rem);
}
.header {
  font-size: 17px;
  width: 70%;
  background-color: white;
  border: solid 2px #000000;
  border-bottom: none;
  padding: 11px 40px;
  text-align: left;
  box-shadow: 8px 3px 0px -3px black;
  margin-bottom: -2px;
  position: relative;
  z-index: 10;
}
.list {
  width: 100%;
  font-size: 15px;
  list-style-type: none;
  text-align: left;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
  border: solid 2px #000000;
  padding: 4px;
  margin: 0;
  position: relative;
  z-index: 0;
  background-color: white;
  max-height: 100%;
  overflow: auto;

  .userElement {
    background-color: #f6f6f6;
    height: 33px;
    margin-top: 2px;
    &:first-of-type {
      margin-top: 0;
    }

    .userWrapper {
      padding-left: 35px;
      &::before {
        content: "•";
        display: inline-block;
        margin-top: 0;
        margin-right: 16px;
        width: 6px;
        height: 6px;
        color: #7ed321;
      }
    }
  }
}
</style>

<script>
export default {
  computed: {
    users() {
      return this.$store.getters.users;
    },
    user() {
      return this.$store.state.user;
    },
    avatar() {
      return this.$store.state.user.avatar || "/";
    }
  },
  methods: {
    logout() {
      sessionStorage.clear();
      location.reload();
    }
  }
};
</script>
