<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
#app {
  font-family: "IBM Plex Mono", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
  line-height: 1.75;
}

body {
  margin: 0;
  overflow-x: hidden;
}

html {
  body::-webkit-scrollbar {
    width: 28px;
  }
  body::-webkit-scrollbar-button {
    height: 28px;
  }
  * {
    box-sizing: border-box;

    &::-webkit-scrollbar {
      background-color: #f1f1f1;
      border: solid 2px #000000;
      width: 16px;
    }
    &::-webkit-scrollbar-thumb {
      border: solid 2px #000000;
      background-color: #bebebe;
    }
    &::-webkit-scrollbar-button {
      height: 16px;
      border: solid 2px #000000;
    }
  }
}
</style>